<%= render partial: "shared/header",  locals: { zone: @user, title: "Your Profile"}  %>
<div class="container-card ">
  <div>
    <div>
      <% if @user.photo.attached? %>
        <%= image_tag @user.photo.variant(resize_to_fill: [100, 100]).processed, class: "rounded-circle", style: "width: 100px; height: 100px; object-fit: cover;" %>
      <% else %>
        <%= image_tag "https://via.placeholder.com/100", class: "rounded-circle", style: "width: 100px; height: 100px; object-fit: cover;" %>
      <% end %>
    </div>

    <h2>Account setting</h2>

    <div>
      <%= form_with(model: @user, url: profile_path, method: :patch, local: true, html: { multipart: true }) do |f| %>
        <div>
          <%= f.label :email, class: "form-label" %>
        </div>

        <div>
          <%= f.label :password, class: "form-label" %>
        </div>

        <div>
          <%= f.label :language, "Select Language", class: "form-label" %>
        </div>
      <% end %>

      <div>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn" %>
      </div>
    </div>
  </div>
</div>
