<%= render "shared/header", title: "Add Comment to: #{@post.title}" %>

<section class="container" >
  <div class="card_style">
    <%= form_with(model: [@community, @post, @comment], local: true) do |f| %>
    <div class="mb-3">
      <%= f.label :content, "Add a comment" , class: "mb-4"%>
      <%= f.text_area :content, rows: 4, class: "form-control" %>
    </div>

  <div class=" d-flex flex-row justify-content-start align-items-center py-4">
      <%= f.submit "Create", class:"btn-small" %>
      <%= link_to "Cancel", community_post_path(@community, @post), class: "btn btn-secondary ms-2" %>
  </div>
  <% end %>
  </div>
</section>
