<nav class="navbar-app">
   <div class="navbar-button">
    <%= link_to habits_path, class: active_class_by_controller('habits') do %>
      <%= image_tag "home.svg" %>
      <span>Home</span>
    <% end %>
  </div>

  <div class="navbar-button">
    <%= link_to communities_path, class: active_class_by_controller('communities') do %>
      <%= image_tag "tribe.svg" %>
      <span>Tribe</span>
    <% end %>
  </div>

  <div class="navbar-button">
    <%= link_to chats_path, class: active_class_by_controller('chats'), data: { "turbo-method": :post } do %>
      <%= image_tag "stars.svg" %>
      <span>AI</span>
    <% end %>
  </div>

  <div class="navbar-button">
    <%= link_to profile_path, class: active_class_by_controller('profiles') do %>
      <%= image_tag "user.svg" %>
      <span>Profile</span>
    <% end %>
  </div>

  <div class="new-habit-button">
    <%= link_to preselect_habits_path do %>
      <%= image_tag "plus.svg", alt: "New habit icon" %>
    <% end %>
  </div>
</nav>
