<nav class="navbar d-flex">
  <div>
    <%= image_tag "home.svg", alt: "Home icon" %>
    <%= link_to "Home", root_path%>
  </div>
  <div>
    <%= image_tag "home.svg", alt: "Habits icon" %>
    <%= link_to "Habits", root_path%>
  </div>
  <div>
    <%= image_tag "home.svg", alt: "Tribe community icon" %>
    <%= link_to "Tribe", root_path%>
  </div>
  <div>
    <%= image_tag "home.svg", alt: "Profile icon" %>
    <%= link_to "Profile", root_path%>
  </div>

</nav>
