
<div class=" community_style">

  <%= render partial: "shared/header",  locals: { zone: @post, suffix: " - Comments"}  %>


  <section class="container" >
    <div class="card_style">
      <div class="d-flex flex-column justify-content-center align-items-start mb-2">
        <h5><%= @post.title %></h5>
        <p style="color: var(--community-text-color);"><%= @post.content %></p>
      </div>

      <div class="border-top d-flex justify-content-start align-items-center py-4" >
        <i class="fa-regular fa-comment-dots " style="margin-right:5px"></i>
        <p class="p-0 m-0" style="color: var(--community-text-color);"> <%= @comments.length%> comments</p>
      </div>

    <% @comments.each do |comment| %>
     <div class="d-flex flex-row justify-content-between mb-2" style="color: var(--community-text-color);">
          <div class="d-flex flex-row justify-content-start align-items-center">
              <div style="border-radius: 50%; height: 30px; width: 30px; background: var(--orange);"></div>
              <h5  class="m-0 mx-1 h6 fw-normal"><%= comment.user.username %> <%# here should be post writer username %></h5>
              </div>
            <small class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</small>
          </div>
          <p style="color: var(--community-text-color);"><%=comment.content %></p>
       <% end %>
      </div>
  </section>




</div>
