<div class=" community_style">


 <%= render partial: "shared/header",  locals: { zone: @community}  %>

  <section class="container" style="color: var(--community-text-color);">
    <%= link_to new_community_post_path(@community), class: "text-decoration-none text-reset" do%>
      <div class="card_style d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-plus"></i>
        <h6 class="fw-normal p-0 m-0 mx-1">Add a New Post</h6>
      </div>
    <%end%>
    <% @posts.each do |post| %>
        <div class="card_style">
        <div class="d-flex flex-row justify-content-between align-items-center mb-2">
          <div class="d-flex flex-row justify-content-start align-items-center">
            <div style="border-radius: 50%; height: 40px; width: 40px; background: var(--orange);"></div>
            <h5  class="m-0 mx-2 fw-normal h6" style="color: var(--community-title-color);"><%= post.user.username %> <%# here should be post writer username %></h5>
          </div>
          <div>
             <small class="text-muted"><%= time_ago_in_words(post.created_at) %> ago</small>
          </div>
        </div>
        <h3 class="h5" style="color: var(--community-title-color);"><%= post.title %></h3>
        <p><%= post.content %></p>

        <div class="d-flex flex-row justify-content-between">
         <%= link_to community_post_path(@community, post), class: "text-decoration-none text-reset" do %>
          <div class="d-flex flex-row justify-content-end align-items-center">
            <i class="fa-regular fa-comment-dots me-2"></i>
            <p class="my-0">Comments</p>
          </div>
        <% end %>

        <%= link_to "Add a comment", new_community_post_comment_path(@community, post),class: "fw-semibold text-decoration-none", style: "color: var(--orange) !important" %>
        </div>
      </div>
    <% end %>
  </section>



</div>
