<div class="habit-container">
  <%= simple_form_for(@habit) do |form| %>
    <% if habit.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(habit.errors.count, "error") %> :</h2>
        <ul>
          <% habit.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group mb-4">
      <%= form.input :description, 
          label: "Description",
          input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group mb-4">
      <%= form.input :color, 
          as: :select,
          collection: [
            ["Light Blue", "ACDFEB"],
            ["Pale Green", "C1F4DC"],
            ["Pastel Yellow", "E4ED97"],
            ["Light Red", "F09393"],
            ["Pastel Pink", "F5B6F3"],
            ["Salmon Pink", "FFC7D0"],
            ["Orange Yellow", "FFDA9B"]
          ],
          label: "Color",
          input_html: { class: 'form-select' } %>
    </div>

    <%= form.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
