<div class="habits-container">
  <div class="header">
    <h1>Hello <%= current_user.username %>! 👋</h1>
    <div class="date">Wednesday, August 27</div>
  </div>
  <%# Nathalia %>
  <div class="progress-card mb-4">
    <h5 class="mb-4">Your daily progress</h5>
    <div class="progress-bar-container">
      <div id="progress-bar" class="progress-bar" style="width: <%= @today&.completion_percentage(current_user) || 0 %>%;"></div>
    </div>
    <% if @total_count > 0 %>
      <p>You have completed <%= @completed_count %> out of <%= @total_count %> habits.</p>
      <p> <% if @completed_count < @total_count %>
            <%= @total_count - @completed_count %> to go!
          <% else %>
            All habits completed! 🎉
          <% end %>
      </p>
          <% else %>
            <p>No habits for today.</p>
          <% end %>
  </div>
  <%# Nathalia %>
  <ul class="habits-list">
    <% @habits.each do |habit| %>
      <li class="habit-item">
        <div class="habit-card" style="--habit-color: #<%= habit.color %>CC">
          <%= link_to "", habit_path(habit), class: "card-link" %>
          <div class="habit-card-content">
            <h3 class="habit-card-title"><%= habit.title %></h3>
            <div class="habit-streak">
              <i class="fas fa-fire"></i>
              <%= habit.streak %>
            </div>
          </div>
        </div>
        <div class="checkbox-container">
          <input
            type="checkbox"
            id="habit-<%= habit.id %>"
            class="checkbox-input"
            <%= 'checked'%>>
          <label for="habit-<%= habit.id %>" class="checkbox-label"></label>
        </div>
      </li>
    <% end %>
  </ul>
  <ul>
    <% @day_habits.each do |day_habit| %>
      <li>
        <%= day_habit.habit.title %>
        <%= check_box_tag "day_habit_#{day_habit.id}", 1, day_habit.done, data: { id: day_habit.id }, class: "habit-checkbox" %>
      </li>
    <% end %>
  </ul>
</div>
