<%= render partial: "shared/header", locals: { zone: @community, title: "Habit Overview"} %>

<div class="d-flex justify-content-center vh-100 m-3">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="community_card">

       <div class="d-flex justify-content-between align-items-start">
        <h1 class="habit-title"><%= @habit.title %></h1>

          <div class="dropdown">
            <button
              class="bg-white px-2 btn-sm btn-light border-0"
              type="button"
              id="dropdown"<%= @habit.id %>"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu<%= @habit.id %>">
              <li>
                <%= link_to "Edit", edit_habit_path(@habit), class: "dropdown-item", data: { turbo: false } %>
              </li>
              <li>
                <%= link_to "Delete",
                    habit_path(@habit),
                    class: "dropdown-item",
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this habit?" } %>
              </li>
            </ul>
          </div>
      </div>

        <%= link_to community_path(@habit.community), class: "text-decoration-none" do %>
          <div class="form-control mt-3">
            Community: <%= @habit.community.title %>
          </div>
        <% end %>

        <div class="my-3">
          <p class="habit-streak mb-1">⭐ Your goal:</p>
          <p><%= @habit.description %></p>
        </div>

        <div class="my-3">
          <p class="habit-streak mb-1">
            <i class="fas fa-fire"></i> Streak:
          </p>
          <p><%= @habit.streak %> days</p>
        </div>

        <div>
          <p class="mb-1">Days for this habit:</p>
          <div class="d-flex flex-wrap gap-2">
            <% Day.all.each do |day| %>
              <% selected = @habit.days.include?(day) %>
              <div class="weekday-btn <%= 'selected' if selected %>">
                <%= day.name.first(3).upcase %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
