<div class="habits-container">
  <h1 class="habit-title"><%= @habit.title %></h1>

  <div class="habit-info">
    <p><%= @habit.description %></p>
    <p class="habit-streak">
      <i class="fas fa-fire"></i> Streak: <%= @habit.streak %>
    </p>
  </div>

  <div class="my-3">
    <p>Community
    <%= link_to @habit.community.title, community_path(@habit.community), class: "btn send-btn" %> </p>
  </div>

  <div class="habit-actions">
    <%= link_to edit_habit_path(@habit), class: "edit-link" do %>
      <i class="fas fa-edit"></i> Edit
    <% end %>


    <%= link_to habit_path(@habit),
        class: "delete-link",
        data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this habit?" } do %>
      <i class="fas fa-trash"></i> Delete
    <% end %>

    <%= link_to habits_path, class: "back-link" do %>
      <i class="fas fa-arrow-left"></i> Back
    <% end %>
  </div>
</div>
